<div class="p-4 bg-white shadow-2xl rounded w-4/12 border-t-4 m-3">
  <h1 class="text-2xl font-bold text-gray-600 py-2">{{ faceSnap.title }}</h1>
  <img [src]="faceSnap.imageUrl" alt="">
  {{faceSnap.createdDate}}
  <p>{{ faceSnap.description }}</p>
  <P class="mt-4">
    <button
      (click)="onSnap()"
      class="px-6 py-2 active:scale-[90%] transition hover:bg-teal-500 bg-teal-700 rounded text-md text-white font-semibold">
      {{ buttonText }}
    </button>
    <span class="inline-block pl-2 font-semibold text-gray-600">{{faceSnap.snaps}}</span>
  </P>
</div>
